<header class="page__header header">
 <div class="header__container">
  <a href="/" class="header__logo">ROBO.SCHOOL</a>
  <nav class="header__nav">
   <ul class="header__nav-list">
    <li class="header__nav-item">
     <a href="#" class="header__nav-link">О школе</a>
    </li>
    <li class="header__nav-item">
     <a href="#" class="header__nav-link">Тренеры</a>
    </li>
    <li class="header__nav-item">
     <a href="#" class="header__nav-link">Стоимость</a>
    </li>
   </ul>
  </nav>
  <a href="tel:+78000001122" class="header__phone">+7 800 000 11 22</a>
 </div>
</header>