//@mark v-hide
.v-hide {
 position: absolute;
 top: 0;
 left: 0;
 display: block;
 width: 1px;
 height: 1px;
 clip-path: polygon(0 0, 0 0, 0 0, 0 0);
 opacity: 0;
 pointer-events: none;
}
//@mark img
.i-wrap {
 position: relative;
 display: flex;
 width: 100%;
}
.i-full {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: contain;
 object-position: center;
}
.i-sin {
 display: block;
 object-fit: contain;
 object-position: center;
}
//@mark sect-gap
.sect-gap {
 margin-bottom: 100px;
}
//@mark title
.title {
}
//@mark btn
.btn {
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 color: var(--t-fff);
 font-size: var(--sz-18);
 font-weight: 400;
 background-color: var(--b-d52027);
 border-radius: 5px;
 padding: 25px 54px;
}
//@mark splide
.splide {
 &__track {
 }
 &__list {
 }
 &__slide {
 }
}
