//@mark vars css
:root {
 // font-family
 --font-jost: 'Jost', sans-serif;

 // text colors
 --t-fff: #fff;
 --t-000: #000;
 --t-141024: #141024;
 --t-d52027: #d52027;
 --t-141024b3: rgba(20, 16, 36, 0.7);

 // background colors
 --b-fff: #fff;
 --b-000: #000;
 --b-141024: #141024;
 --b-d52027: #d52027;
 // --b-grad-red: ;

 // font-size
 --sz-12: 12px;
 --sz-14: 14px;
 --sz-16: 16px;
 --sz-18: 18px;
 --sz-20: 20px;
 --sz-24: 24px;
 --sz-30: 30px;
 --sz-36: 36px;
 --sz-50: 50px;
 --sz-60: 60px;
 --sz-70: 70px;
}

// @media (prefers-color-scheme: dark) {
//  :root {
//  }
// }

//@mark scroll
::-webkit-scrollbar-button {
 width: 6px;
 height: 0;
}
::-webkit-scrollbar-track {
 background-color: var(--b-fff);
 box-shadow: 0 0 3px var(--b-fff) inset;
}
::-webkit-scrollbar-thumb {
 border-radius: 2px;
 background-color: var(--b-000);
 background-position: center;
 background-repeat: no-repeat;
}
::-webkit-resizer {
 width: 7px;
 height: 0;
}
::-webkit-scrollbar {
 width: 7px;
}

//@mark html
// html {
//  font-size: 16px !important;
// }

//@mark page
body.page {
 font-family: var(--font-jost);
 font-weight: 400;
 font-size: var(--sz-18);
 line-height: 1.6;
 color: var(--t-141024);
 background-color: var(--b-fff);
 &.j-lock {
  overflow: hidden;
 }
}

//@mark wrapper
.wrapper {
 position: relative;
 display: grid;
 min-height: 100dvh;
 grid-template-columns: minmax(300px, 1fr);
 grid-template-rows: auto 1fr auto;
 overflow: hidden;
}

//@mark container
.container {
 width: 100%;
 max-width: 1180px;
 margin: 0 auto;
 padding: 0 10px;
}
